:root {
  --monospace-font-family: 'Consolas', 'Inconsolata', 'Droid Sans Mono', 'Monaco', monospace;
  --base-font-family: 'helvetica neue', helvetica, arial, sans-serif;
  --base-font-size: 14px;
  --spacing-unit: 5px;
  --panel-items-spacing: 8px;
  --panel-spacing: 15px;
  --icons-size: 24px;

  --primary-color: #00bcd4;
  --background-color: #000;
  --dark-bg-color: #0b2840;
  --highlight-color: var(--primary-color);
  --secondary-color: rgb(225, 0, 152);  /*#aeefff;*/
  --logo-color: #27535e;
  --link-color: #42a0dd;
  --link-hover-color: #0262a0;
  --field-name-color: rgb(255, 237, 134);
  --builtin-color: white;
  --text-color: #999;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --alert-color: #b71c1c;

  --settings-panel-bg-color:white;

  --doc-panel-width: 320px;
  --type-info-popover-width: 320px;
  --doc-panel-bg-color: #132121;
  --doc-panel-item-stripe-color: rgba(158, 158, 158, 0.07);
  --doc-panel-item-hover-color: rgb(225, 0, 152);
  --doc-panel-selected-item-color: white;

  --arg-default-color: #0B7FC7;
  --arg-name-color: #c77f53;

  --node-fill-color: #171d1a;
  --node-header-color: var(--secondary-color);
  --node-header-text-color: black;

  --edge-color: color(var(--secondary-color) );
  --selected-edge-color: rgb(255, 30, 184);
  --selected-field-bg: rgb(255, 30, 184);
}

@custom-media --small-viewport (max-width: 780px);
@custom-media --big-viewport (min-width: 781px);